*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  width: min(100%,1200px);
  font-family: Arial, sans-serif;
  background-color: #ebcfbf;
  line-height: 1.8;
  }

  .mobile_drawer_menu{
    display: none;
  }

#navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3c29f;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 85px 0 0;
  text-decoration: none;
  color: rgb(175, 86, 47);
  font-family: "M PLUS Rounded 1c";
  font-size: 1.3em; 
  font-weight: bold;
}

.logo{
  width: 200px; 
  height: 200px;
  display: inline-block; 
  text-align: center; 
  margin: 0 auto; 
}

.logo img {
  height: 70px;
  margin: 0 10px;
}

.social-logo {
  padding-top: 85px;
  width: 40px; 
  height: 30px; 
  margin-left: 10px;
}

.social-logo img{
  height: 30px;
}
/* Навигационное меню досюда */

#header-image {
  position: relative;
}

#header-image img {
  width: 100%;
  height: auto;
}

#header-logo {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 50%;
}


/* Главное фото с лого досюда */

article{
  margin-top: 50px;
  color: #606060;
  font-family: "Sawarabi Mincho";
  font-size: 18px;
}

section{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}


h2{
  color: rgb(175, 86, 47);
  margin-bottom: 30px;
}

.content-text{
  line-height: 2.5;
}

aside{
  width: 50%;
  margin: 0 0 0 290px;
  padding: 32px 0;
}

aside h2{
  text-align: center;
}

aside a{
  color: rgb(175, 86, 47);
  text-decoration: none;
  font-weight: bold;
}

.navigation-menu{
  width: 95%;
  margin: 0 0 50px 0;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 30px;
  list-style-type: none;
  background-color: #d3c29f;
}
.navigation-menu li{
  width: 30%;
  text-align: center;
}

.navigation-menu li:first-of-type{
  width: 100%;
}

.navigation-menu h2{
  font-family: "Sawarabi Mincho";
}

.navigation-menu li img{
  width: 100%;

}

.btn{
  margin: 0 auto;
  padding: 10px 0 10px 15px;
  width: 216px;
  height: 60px;
  display: block;
  border-radius: 40px;
  background-color: initial;
  border: 2px solid rgb(175, 86, 47);
  color: rgb(175, 86, 47);
  font-weight: bold;
  font-size: 15px;
}
.btn a{
  text-decoration: none;
  color: rgb(175,86,47);
}

.btn:hover{
  background-color: #001276;
}

.play-logo {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  position: relative;
  top: 4px;
    }

    /* Середина текста */

footer {
  height: 100%;
  background-color: #d3c29f;
  color: #ffffff;
  margin-top: 200px;
  text-align: center;
  padding-top: 5px;
  }
  .coopyright{
    font-size: small;
  }
  footer p{
    margin-top: 20px;
  }
  footer p a{
    text-decoration: none;
    color: #ffffff;
    padding: 0 20px 0 20px;
  }

/* Footer досюда */

@media (max-width: 996px) {

  .mobile_drawer_menu{
    display: none;
  }

  #navbar {
    width: 100%;
    height: 100px;
    flex-direction: column;
    text-align: center;
  }

  #navbar a {
    padding: 10px;
    font-size: 1.2em;
    padding: 0 10px 0 10px;
    margin-left: 20px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }

  .logo img {
    height: 60px;
  }


  .social-logo {
    height: 20px;
    margin: 10px 0 0 5px;
    padding: 55px 0 0 5px;
  }

  .social-logo img {
    height: 20px;

  }

  /* Навигационное меню досюда */

  #header-image {
    position: relative;
  }
  
  #header-image img {
    width: 100%;
    height: auto;
  }
  
  #header-logo {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 50%;
  }

  /* Главное фото с лого досюда */

  .content_1 h2{
    font-size: 25px;
  }

  .content-text{
    font-size: 15px;
  }
  
  .navigation-menu h2{
    font-size: 20px;
  }

  .navigation-menu li a{
    font-size: 13px;
  }

  .btn{
  padding: 0 0 0 15px;
  margin: 0 auto;
  width: 176px;
  border-radius: 40px;
  font-size: 13px;
  }

  .play-logo {
    width: 15px;
    height: 15px;
      }

  /* Текст середины */

  
  footer{
    width: 100%;
  }
  .coopyright{
    font-size: small;
  }
  
    

}



@media (max-width: 480px){

  .mobile_drawer_menu{
    display: block;
  }
  
  
  .mobile_drawer_menu * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font: inherit;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    color: rgb(175,86,47);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    text-decoration: none;
    list-style: none;
  }
  
  .mobile_drawer_menu a {
    color: inherit;
    text-decoration: none;
  }
  
  
  .mobile_drawer_menu a:hover {
    color:#ff7b29;
  }
  
  .mobile_drawer_menu a:visited {
    color: inherit;
  }
  
  .mobile_drawer_menu i {
      color:#ff7b29;
      padding:0 8px 0 0;
    }
  
  .mobile_drawer_menu .mobile_drawer_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(51, 51, 51, 0.5);
    display: none;
    top: 0;
    left: 0;
  }
  
  .mobile_drawer_menu .mobile_drawer_button {
  
    display: block;
    background-color:rgba(255,255,255,0.4);
    border: none;
    padding: 10px 15px 6px 10px ;
    width: 58px;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1001;
    text-align: center;
    outline: none;
  }
  
  .mobile_drawer_menu .mobile_drawer_button.active .mobile_drawer_bar {
    width: 36px;
  }
  
  .mobile_drawer_menu .mobile_drawer_button.active .mobile_drawer_bar1 {
    transform: rotate(45deg) translatey(-6px) translatex(3px);
  }
  
  .mobile_drawer_menu .mobile_drawer_button.active .mobile_drawer_bar2 {
    opacity: 0;
  }
  
  .mobile_drawer_menu .mobile_drawer_button.active .mobile_drawer_bar3 {
    transform: rotate(-45deg)  translatey(7px) translatex(0px);
  }
  
  .mobile_drawer_menu .mobile_drawer_button.active .mobile_drawer_menu_text {
    display: none;
  }
  
  .mobile_drawer_menu .mobile_drawer_button.active .mobile_drawer_close {
    display: block;
  }
  
  .mobile_drawer_menu .mobile_drawer_bar {
    display: block;
    height: 2px;
    margin: 7px 0;
    transition: all 0.2s;
    transform-origin: 0 0;
  }
  
  .mobile_drawer_menu .mobile_drawer_text {
    text-align: center;
    font-size: 10px;
  }
  
  .mobile_drawer_menu .mobile_drawer_close {
    letter-spacing: 0.08em;
    display: none;
  }
  
  .mobile_drawer_menu .mobile_drawer_menu_text {
    display: block;
  }
  
  .mobile_drawer_menu .mobile_drawer_nav_wrapper {
    width: 308px;
    height: 100%;
    transition: all 0.2s;
    transform: translate(312px);
    position: fixed;
    border-left:solid 4px #ff7b29;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.8);
  }
  
  .mobile_drawer_menu .mobile_drawer_nav_wrapper.open {
    transform: translate(0);
  }
  
  .mobile_drawer_menu.left .mobile_drawer_button {
    right: auto;
    left: 0px;
  }
  
  .mobile_drawer_menu.left .mobile_drawer_nav_wrapper {
    transform: translate(-312px);
    right: auto;
    left: 0;
  }
  
  .mobile_drawer_menu.left .mobile_drawer_nav_wrapper.open {
    transform: translate(0px);
  }
  
  /*+++ Default Navigation CSS +++*/
  .mobile_drawer_menu .mobile_drawer_nav {
    padding: 112px 24px;
  }
  
  .mobile_drawer_menu .mobile_drawer_nav li {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  /*+++ Default Button Color +++*/
  .mobile_drawer_menu .mobile_drawer_button {
    color: rgb(175,86,47);
  }
  
  .mobile_drawer_menu .mobile_drawer_button .mobile_drawer_bar {
    background-color: rgb(175,86,47);
  }

  /* Гамбургер досюда */

  #navbar {
    width: 100%;
    height: 100px;
    flex-direction: column;
    text-align: center;
  }
  #navbar .top-words{
    display: none;
  }

  #navbar a {
    padding: 10px;
    font-size: 1.2em;
    padding: 0 10px 0 10px;
    margin-left: 20px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }

  .logo img {
    height: 60px;
    margin-left: 65px;
  }


  .social-logo {
    width: 10%; 
    height: 20px;
    margin: 10px 0 0 0;
    padding: 55px 0 0 0;
  }

  .social-logo img {
    height: 20px;

  }

  /* Навигационное меню досюда */

  #header-image {
    position: relative;
  }
  
  #header-image img {
    width: 100%;
    height: auto;
  }
  
  #header-logo {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 50%;
  }

  /* Главное фото с лого досюда */

  .left-space{
    display: none;
  }

  .content_1 h2{
    font-size: 25px;
  }

  .content-text{
    font-size: 15px;
  }
  
  .navigation-menu h2{
    font-size: 20px;
  }

  .navigation-menu li a{
    font-size: 10px;
  }

  .btn{
  padding: 0 0 0 15px;
  margin-left: 55px;
  width: 156px;
  border-radius: 40px;
  font-size: 10px;
  }

  .btn:hover{
    background-color: #001276;
  }

  .play-logo {
    width: 10px;
    height: 15px;
      }

  /* Текст середины */

  .navigation-menu{
    width: 95%;
  }
  .navigation-menu h2{
    font-size: 15px;
  }

  aside{
    margin: 0 0 0 90px;
  }

  aside a{
    font-size: 10px;
  }

   /* Текст About досюда */

  footer{
    width: 100%;
    font-size: 13px;
    padding-top: 5px;
  }
  .coopyright{
    font-size: 10px;
    padding-bottom: 10px;
  }
  footer p{
    padding: 0;
  }
  footer p a{
    padding: 0 10px 0 10px;
  }

}

